In [1]:
import pandas as pd

planilha = pd.read_excel("datasets/planilha_modulo3.xlsx")

In [2]:
planilha[planilha["GENERO"] == "Feminino"]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
4,4,zzaf1m95yan929rb94wzzaf1mekhvhpg,46.0,45-49,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Setor Público,de 101 a 500,0.0,NaN,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês,Não tenho experiência na área de dados,Mais de 10 anos,7733.0
5,5,zz0nlhbd8oxyiyxzz0nlh7g4xkiaza5v,32.0,30-34,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Educação,Acima de 3.000,0.0,NaN,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês,Não tenho experiência na área de dados,Não tive experiência na área de TI/Engenharia ...,2336.0
7,7,zyc0twzno2sm5or5ovoxzyc0twz0300d,31.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 6 a 10,0.0,NaN,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês,Menos de 1 ano,Menos de 1 ano,2704.0
9,9,zxc3d314cn1c2ovmzxc34ha7nkw1na3j,NaN,55+,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Educação,Acima de 3.000,0.0,NaN,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês,Mais de 10 anos,Não tive experiência na área de TI/Engenharia ...,10822.0
10,10,zwy34gktg0tfjq2ttjvazwy34gg3g49i,25.0,25-29,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Varejo,de 101 a 500,0.0,NaN,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,3450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4248,4248,070o4zayoboztox764qu070o4zafbqrd,27.0,25-29,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,de 101 a 500,0.0,NaN,Cientista de Dados/Data Scientist,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,4781.0
4251,4251,068hhicrqggu068huq0l2ab3g7liagy8,34.0,30-34,Feminino,Preta,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,5673.0
4258,4258,03zjgijmnwv9qrlzbr03zjgij1eae1hw,25.0,25-29,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4259,4259,03n2lq8st9zobnowu3w03n2lqi0flz2w,28.0,25-29,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...","Relação com outros membros da empresa, em mome...",True,...,Finanças ou Bancos,Acima de 3.000,1.0,Supervisor/Coordenador,NaN,NaN,de R$ 20.001/mês a R$ 25.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,24963.0
4267,4267,01dyfxam4u4bi29fem01dyfxaq9akvqp,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Área de Consultoria,de 51 a 100,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,3758.0

In [3]:
planilha.loc[(planilha["GENERO"] == "Feminino") & (planilha["PCD"] == "Sim")]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
71,71,zhz5wq486mcgh5hh5zizhz5wh3nno3rp,26.0,25-29,Feminino,Branca,Sim,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 1.001 a 3.000,0.0,NaN,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,6476.0
87,87,ze8vowc5usprrw7hnnhze8vow9xt3ap1,33.0,30-34,Feminino,Branca,Sim,"Sim, acredito que minha experiência profission...","Aprovação em processos seletivos/entrevistas, ...",True,...,Outra Opção,de 1.001 a 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Pleno,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,14546.0
191,191,ykrfmsrvdess5k0q70tkaykrfmsrjf2c,46.0,45-49,Feminino,Branca,Sim,"Sim, acredito que a minha a experiência profis...","Oportunidades de progressão de carreira, Quant...",True,...,Outra Opção,Acima de 3.000,0.0,NaN,Outras Engenharias (não inclui dev),Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 1 a 2 anos,11575.0
1096,1096,qy2l965b3a9p2clulpqy2lyq1fv7msfa,39.0,35-39,Feminino,Branca,Sim,"Sim, acredito que minha experiência profission...",Quantidade de oportunidades de emprego/vagas r...,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,1906,k5mg72xylvm1p9jlbk5mg72x6r1gofks,51.0,50-54,Feminino,Parda,Sim,Não acredito que minha experiência profissiona...,NaN,True,...,Educação,Acima de 3.000,1.0,Supervisor/Coordenador,NaN,NaN,de R$ 8.001/mês a R$ 12.000/mês,Mais de 10 anos,Não tive experiência na área de TI/Engenharia ...,11122.0
1950,1950,jrrg5bjbc7gxnfqn5bjrrg2vrnk1chuc,34.0,30-34,Feminino,Parda,Sim,Não acredito que minha experiência profissiona...,NaN,True,...,Setor Farmaceutico,Acima de 3.000,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 7 a 10 anos,Não tive experiência na área de TI/Engenharia ...,10252.0
2094,2094,ijrvypjghvwdolu3hf5s2oijrvyprcln,29.0,25-29,Feminino,Branca,Sim,Não acredito que minha experiência profissiona...,NaN,True,...,Indústria,Acima de 3.000,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,4684.0
2276,2276,h9ca5y5ujp5iaajwvh9ca5yk2etwj0ie,32.0,30-34,Feminino,Parda,Sim,"Sim, acredito que minha experiência profission...",Atenção dada pelas pessoas diante das minhas o...,True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Product Manager/ Product Owner (PM/APM/DPM/GPM...,Sênior,de R$ 20.001/mês a R$ 25.000/mês,Mais de 10 anos,Mais de 10 anos,24994.0
2729,2729,dk2kqc1dj0378e2gsdk2kqc11fmyul0h,33.0,30-34,Feminino,Parda,Sim,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Tecnologia/Fábrica de Software,de 1.001 a 3.000,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 4 a 6 anos,de 1 a 2 anos,6574.0
2759,2759,da7ijrdritymtvcnda7ev94hs1102ruz,25.0,25-29,Feminino,Branca,Sim,"Sim, acredito que minha experiência profission...","Oportunidades de progressão de carreira, Veloc...",True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Outra Opção,Júnior,de R$ 2.001/mês a R$ 3.000/mês,Não tenho experiência na área de dados,Não tive experiência na área de TI/Engenharia ...,2403.0
2838,2838,chdnowadcv8kiiue3chdnowag3cekbc3,29.0,25-29,Feminino,Branca,Sim,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,6959.0
3330,3330,7vjidh19oz2n34ujev7vjidogqbj9z9b,34.0,30-34,Feminino,Branca,Sim,"Sim, acredito que minha experiência profission...",Atenção dada pelas pessoas diante das minhas o...,True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,10381.0
3406,3406,7bbxxusxvzqwwf3o4m4leoo7bbxxusbp,31.0,30-34,Feminino,Branca,Sim,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Marketing,de 6 a 10,0.0,NaN,Outra Opção,Júnior,de R$ 1.001/mês a R$ 2.000/mês,Não tenho experiência na área de dados,Não tive experiência na área de TI/Engenharia ...,1921.0
3495,3495,6m326j6lui4ww86m326uc72y4uqmkfb0,25.0,25-29,Feminino,Branca,Sim,"Sim, acredito que a minha a experiência profis...","Aprovação em processos seletivos/entrevistas, ...",True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Engenheiro de Machine Learning/ML Engineer,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,6222.0
3564,3564,5zgu4xyae8vom12c4s5zgu4x3ww53jaw,29.0,25-29,Feminino,Branca,Sim,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 11 a 50,0.0,NaN,Analista de Dados/Data Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Menos de 1 ano,3737.0
3633,3633,5efp7nux5iafecspru5efipm57fmjr3k,23.0,22-24,Feminino,Preta,Sim,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Educação,de 1.001 a 3.000,0.0,NaN,Analista de Dados/Data Analyst,Júnior,de R$ 2.001/mês a R$ 3.000/mês,de 1 a 2 anos,Menos de 1 ano,2834.0
4231,4231,0dqnsenv2c90doeh101dkpy1kvjjsvnw,27.0,25-29,Feminino,Branca,Sim,"Sim, acredito que minha experiência profission...","Aprovação em processos seletivos/entrevistas, ...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
planilha[planilha["GENERO"].str.contains("não", na=False)]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
562,562,vhuw8xnpbmj6oh20xovhuwcbdl4a12ni,29.0,25-29,Prefiro não informar,Parda,Não,"Sim, acredito que a minha a experiência profis...",Atenção dada pelas pessoas diante das minhas o...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1528,1528,n2ktdn33istvlu1ha4v3kn2ktdn1rsp1,NaN,55+,Prefiro não informar,Indígena,Prefiro não informar,Não acredito que minha experiência profissiona...,NaN,True,...,Setor Público,de 51 a 100,0.0,NaN,Analista de Suporte/Analista Técnico,Júnior,Menos de R$ 1.000/mês,Menos de 1 ano,Menos de 1 ano,826.0
1913,1913,k3as6jdh3w4jf4ztsw4kpkk3as6jdy19,30.0,30-34,Prefiro não informar,Prefiro não informar,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Outra Opção,de 101 a 500,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 8.001/mês a R$ 12.000/mês,Mais de 10 anos,de 3 a 4 anos,11476.0
1925,1925,jzppdwep2kpisqjjzppdh304v83cj7eu,NaN,17-21,Prefiro não informar,Prefiro não informar,Prefiro não informar,"Sim, acredito que minha experiência profission...",Quantidade de oportunidades de emprego/vagas r...,False,...,Setor Farmaceutico,de 1 a 5,0.0,NaN,Outra Opção,Júnior,de R$ 2.001/mês a R$ 3.000/mês,de 1 a 2 anos,Menos de 1 ano,2294.0
2554,2554,f5l206z0hr9uh3nz2iiff5l206c0g10o,20.0,17-21,Prefiro não informar,Prefiro não informar,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Setor Público,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Júnior,de R$ 1.001/mês a R$ 2.000/mês,de 1 a 2 anos,de 1 a 2 anos,1339.0
3090,3090,a6ugmsw7s8hu5aa6uglio5apj74fam9o,26.0,25-29,Prefiro não informar,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Educação,de 101 a 500,1.0,Team Leader/Tech Leader,NaN,NaN,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,11545.0
3357,3357,7q0icczxn0l3a894cbx7q0icczjyud0n,29.0,25-29,Prefiro não informar,Preta,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 1.001 a 3.000,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 6.001/mês a R$ 8.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,6345.0
3493,3493,6m8haop6lxnaizpwij6m8haopiax98jg,25.0,25-29,Prefiro não informar,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Finanças ou Bancos,Acima de 3.000,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 3 a 4 anos,Menos de 1 ano,3900.0
3610,3610,5mloglozmr0r715mntaxbt6xy8b5olmb,30.0,30-34,Prefiro não informar,Branca,Não,"Sim, acredito que a minha a experiência profis...",Velocidade de progressão de carreira,True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,10174.0
4171,4171,0rksyxnqhn13nwytwi6y0rkssx6jmodf,26.0,25-29,Prefiro não informar,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Outra Opção,de 1.001 a 3.000,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,Menos de 1 ano,10517.0
4200,4200,0liu228yff8fnm3zeuahsx0liu228y07,28.0,25-29,Prefiro não informar,Outra,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Setor Imobiliário/ Construção Civil,de 501 a 1.000,1.0,Team Leader/Tech Leader,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,Mais de 10 anos,de 7 a 10 anos,18282.0
4227,4227,0eqzo5w2l5wizswvwywt8h0eqzo5yucv,28.0,25-29,Prefiro não informar,Preta,Não,"Sim, acredito que a minha a experiência profis...",Atenção dada pelas pessoas diante das minhas o...,True,...,Outra Opção,Acima de 3.000,0.0,NaN,Product Manager/ Product Owner (PM/APM/DPM/GPM...,Pleno,de R$ 6.001/mês a R$ 8.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,7942.0

In [5]:
planilha[(planilha["IDADE"] > 30) & (planilha["GENERO"] == "Feminino")]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
4,4,zzaf1m95yan929rb94wzzaf1mekhvhpg,46.0,45-49,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Setor Público,de 101 a 500,0.0,NaN,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês,Não tenho experiência na área de dados,Mais de 10 anos,7733.0
5,5,zz0nlhbd8oxyiyxzz0nlh7g4xkiaza5v,32.0,30-34,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Educação,Acima de 3.000,0.0,NaN,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês,Não tenho experiência na área de dados,Não tive experiência na área de TI/Engenharia ...,2336.0
7,7,zyc0twzno2sm5or5ovoxzyc0twz0300d,31.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 6 a 10,0.0,NaN,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês,Menos de 1 ano,Menos de 1 ano,2704.0
14,14,zwez49k0jhdvfkfst4zwef137uuf4ivy,35.0,35-39,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Atenção dada pelas pessoas diante das minhas o...,True,...,Varejo,Acima de 3.000,0.0,NaN,Analista de Negócios/Business Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,7416.0
23,23,zuqfcwtl9unfc5ezuqfcwm8coytsp5ap,46.0,45-49,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 501 a 1.000,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês,Mais de 10 anos,de 5 a 6 anos,13418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,4214,0gprow0ownrbfneftxf0gprow4kyrqdy,41.0,40-44,Feminino,Branca,Prefiro não informar,"Sim, acredito que a minha a experiência profis...","Oportunidades de progressão de carreira, Veloc...",True,...,Seguros ou Previdência,Acima de 3.000,1.0,Supervisor/Coordenador,NaN,NaN,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,11452.0
4221,4221,0fgi5bnb0u9b0fgc0jmqlbnvtu12b76d,34.0,30-34,Feminino,Outra,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Área de Consultoria,de 51 a 100,0.0,NaN,Outra Opção,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,5687.0
4240,4240,0a5xgxb1ljmuqn0un8a10a5xg4eufs2l,37.0,35-39,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Finanças ou Bancos,de 51 a 100,0.0,NaN,Analista de BI/BI Analyst,Júnior,de R$ 1.001/mês a R$ 2.000/mês,de 1 a 2 anos,Menos de 1 ano,1182.0
4247,4247,07qzabp4ujpe4oz81udmb07qzabp4h0t,34.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Setor de Energia,de 11 a 50,0.0,NaN,Cientista de Dados/Data Scientist,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Mais de 10 anos,Não tive experiência na área de TI/Engenharia ...,5925.0
4251,4251,068hhicrqggu068huq0l2ab3g7liagy8,34.0,30-34,Feminino,Preta,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,5673.0

In [6]:
planilha.columns

Index(['Unnamed: 0', 'ID', 'IDADE', 'FAIXA IDADE', 'GENERO', 'COR/RACA/ETNIA',
       'PCD', 'EXPERIENCIA_PROFISSIONAL_PREJUDICADA', 'ASPECTOS_PREJUDICADOS',
       'VIVE_NO_BRASIL', 'ESTADO ONDE MORA', 'UF ONDE MORA',
       'REGIAO ONDE MORA', 'MUDOU DE ESTADO?', 'REGIAO DE ORIGEM',
       'NIVEL DE ENSINO', 'ÁREA DE FORMAÇÃO',
       'QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?', 'SETOR',
       'NUMERO DE FUNCIONARIOS', 'GESTOR?', 'CARGO COMO GESTOR', 'CARGO ATUAL',
       'NIVEL', 'FAIXA SALARIAL',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?',
       'SALARIO'],
      dtype='object')

In [7]:
planilha[(planilha["COR/RACA/ETNIA"] == "Amarela") & (planilha["IDADE"] < 40)]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
13,13,zwh83jpy6x40b95xigsr2zwh83jpflu3,24.0,22-24,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,Acima de 3.000,0.0,NaN,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Menos de 1 ano,5296.0
85,85,zfeuk2m9jozahicujlla8zfeuk2g7apj,29.0,25-29,Feminino,Amarela,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,159,ytrnz3zyvn791t3dum1ytrnz3zp22tmk,37.0,35-39,Feminino,Amarela,Não,"Sim, acredito que a minha a experiência profis...","Oportunidades de progressão de carreira, Aprov...",True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 7 a 10 anos,10628.0
170,170,yri3z491ejizlpj9ylu2k3jyri3z4915,34.0,30-34,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Varejo,Acima de 3.000,1.0,Gerente/Head,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,16650.0
195,195,yjbpxmkqz5yidh5oszyjbpxmkgcb1zd9,32.0,30-34,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,3947,2tnsh0gxdu3aq4z2d2tnsh0hk15brx7q,31.0,30-34,Feminino,Amarela,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,False,...,Tecnologia/Fábrica de Software,Acima de 3.000,1.0,Supervisor/Coordenador,NaN,NaN,de R$ 25.001/mês a R$ 30.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,29408.0
4058,4058,1t3ndwx8j50k0bz1t3ndwxdpwyg17c2k,27.0,25-29,Feminino,Amarela,Não,"Sim, acredito que a minha a experiência profis...",Nível de cobrança no trabalho / Stress no trab...,True,...,Tecnologia/Fábrica de Software,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,14175.0
4176,4176,0qpa64gqpieg60xpygnajt70qpa64g1a,27.0,25-29,Feminino,Amarela,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4207,4207,0ibb8fj9qrwpswfqiil0ibb89e3e4hz3,30.0,30-34,Feminino,Amarela,Não,"Sim, acredito que a minha a experiência profis...","Oportunidades de progressão de carreira, Veloc...",True,...,Área de Consultoria,de 501 a 1.000,0.0,NaN,Cientista de Dados/Data Scientist,Sênior,de R$ 16.001/mês a R$ 20.000/mês,de 4 a 6 anos,de 5 a 6 anos,16298.0
4262,4262,02vlm03c29g3fcys8tj06102vlm0983h,31.0,30-34,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 501 a 1.000,1.0,Team Leader/Tech Leader,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,de 3 a 4 anos,de 3 a 4 anos,18402.0

In [8]:
planilha.groupby("GENERO")["ID"].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      12
Name: ID, dtype: int64

In [9]:
planilha.groupby("GENERO", dropna=False)["ID"].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      12
NaN                        9
Name: ID, dtype: int64

In [10]:
planilha["GENERO"].value_counts(dropna=False)

GENERO
Masculino               3194
Feminino                1056
Prefiro não informar      12
NaN                        9
Name: count, dtype: int64

In [11]:
planilha[planilha["IDADE"] > 30]["NIVEL"].value_counts()

NIVEL
Sênior    525
Pleno     408
Júnior    274
Name: count, dtype: int64

In [12]:
planilha[(planilha["IDADE"] > 30) & (planilha["GENERO"] == "Feminino")]["NIVEL"].value_counts()

NIVEL
Pleno     117
Sênior    114
Júnior     96
Name: count, dtype: int64

In [13]:
pd.pivot_table(planilha, values=["ID"], index=["GENERO"], columns=["GESTOR?"], aggfunc="count")

                        ID
GESTOR?                0.0  1.0
GENERO
Feminino               754  132
Masculino             2212  578
Prefiro não informar     9    2

In [14]:
import numpy as np

In [15]:
lista_idades = [2, 5, 7, 8, 4, 20]

In [16]:
np.sum(lista_idades)

np.int64(46)

In [17]:
len(lista_idades)

6

In [18]:
np.sum(lista_idades) / len(lista_idades)

np.float64(7.666666666666667)

In [19]:
media = np.mean(lista_idades)
media

np.float64(7.666666666666667)

In [20]:
lista_idades.sort()
lista_idades

[2, 4, 5, 7, 8, 20]

In [21]:
mediana = np.median(lista_idades)
mediana

np.float64(6.0)

In [22]:
planilha.columns

Index(['Unnamed: 0', 'ID', 'IDADE', 'FAIXA IDADE', 'GENERO', 'COR/RACA/ETNIA',
       'PCD', 'EXPERIENCIA_PROFISSIONAL_PREJUDICADA', 'ASPECTOS_PREJUDICADOS',
       'VIVE_NO_BRASIL', 'ESTADO ONDE MORA', 'UF ONDE MORA',
       'REGIAO ONDE MORA', 'MUDOU DE ESTADO?', 'REGIAO DE ORIGEM',
       'NIVEL DE ENSINO', 'ÁREA DE FORMAÇÃO',
       'QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?', 'SETOR',
       'NUMERO DE FUNCIONARIOS', 'GESTOR?', 'CARGO COMO GESTOR', 'CARGO ATUAL',
       'NIVEL', 'FAIXA SALARIAL',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?',
       'SALARIO'],
      dtype='object')

In [23]:
np.mean(planilha["IDADE"])

np.float64(31.169168453657374)

In [24]:
planilha["IDADE"].median()

np.float64(30.0)

In [25]:
planilha["IDADE"].mode()

0    27.0
Name: IDADE, dtype: float64

In [26]:
planilha["IDADE"].std()

np.float64(6.902802832143122)

In [27]:
planilha["IDADE"].min()

np.float64(18.0)

In [28]:
planilha["IDADE"].max()

np.float64(54.0)

In [29]:
planilha.loc[(planilha["IDADE"] == planilha["IDADE"].median()) & (planilha["GENERO"] == "Feminino")]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
50,50,zoxilju9s35wft7htczoxilj0ixdllc3,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Agronegócios,de 11 a 50,0.0,NaN,Cientista de Dados/Data Scientist,Júnior,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,de 1 a 2 anos,3889.0
61,61,zmhx7nttzdlnke4zm5reus6tew2rqj76,30.0,30-34,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Área da Saúde,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,12754.0
117,117,z6cm2hdq81g4g5b2pmhz6cml29t41ncs,30.0,30-34,Feminino,Outra,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,280,xu402mm90xzw97gn8nxu40ez15qne82j,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,Acima de 3.000,0.0,NaN,Outra Opção,Júnior,de R$ 1.001/mês a R$ 2.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,1211.0
470,470,wdcxhog7m155tofqtymrzwdcxhoq7wi1,30.0,30-34,Feminino,Preta,Não,"Sim, acredito que a minha a experiência profis...",Atenção dada pelas pessoas diante a minhas opi...,True,...,Área da Saúde,de 11 a 50,1.0,Gerente/Head,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,de 4 a 6 anos,de 7 a 10 anos,16887.0
622,622,uzmsdaixfgc23ma2uzms4j9zkapug1ju,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Área de Consultoria,de 101 a 500,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,de 3 a 4 anos,3137.0
644,644,uu2cyxod0jkowq5cel2aouu2cyxv5pe3,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,651,urzcpd6mvag2whdroanurzcpr9ydtovf,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Tecnologia/Fábrica de Software,Acima de 3.000,1.0,Gerente/Head,NaN,NaN,de R$ 25.001/mês a R$ 30.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,28070.0
712,712,u7akd4sj5sq5f3si2yyiubpu7akdv10q,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Área da Saúde,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,5388.0
749,749,tvwmy4ch0qn5avii0tvwmy37da6iz6bd,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,False,...,Marketing,de 101 a 500,0.0,NaN,Analista de BI/BI Analyst,Pleno,de R$ 20.001/mês a R$ 25.000/mês,de 7 a 10 anos,Menos de 1 ano,24988.0
791,791,tiasaxdjh83adjt7jttiashl9180ppfd,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Varejo,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,5495.0
828,828,t76udn4gncedvrhpwit76vdcuceksfjh,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Varejo,Acima de 3.000,0.0,NaN,Analista de BI/BI Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,Mais de 10 anos,de 5 a 6 anos,10389.0
831,831,t5v2nfe6by2lg0tt5v2nfqudv5d2jmbc,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Tecnologia/Fábrica de Software,de 1.001 a 3.000,0.0,NaN,Analista de BI/BI Analyst,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,15317.0
904,904,sk8rkhvjd79f3bsk8rqxx3zevzjwa4oa,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Outra Opção,Pleno,de R$ 4.001/mês a R$ 6.000/mês,Não tenho experiência na área de dados,Não tive experiência na área de TI/Engenharia ...,5766.0
932,932,sa0qe8xwjcuntujklpsa0qe8pjt1pk3k,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Outra Opção,Acima de 3.000,0.0,NaN,Analista de Dados/Data Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 7 a 10 anos,Não tive experiência na área de TI/Engenharia ...,11278.0
1033,1033,rg9m8atv32ysykr98ziqovsxdbrg9m8a,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...","Velocidade de progressão de carreira, Atenção ...",True,...,Finanças ou Bancos,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 7 a 10 anos,10048.0
1127,1127,qpgql3rw6qahqwfwnzqpgql31f6qwaho,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...","Oportunidades de progressão de carreira, Veloc...",True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Cientista de Dados/Data Scientist,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,de 1 a 2 anos,6453.0
1131,1131,qod8lrbx5a8r0p10b47yfmw5jqod8lrb,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Tecnologia/Fábrica de Software,de 11 a 50,0.0,NaN,Outra Opção,Júnior,de R$ 4.001/mês a R$ 6.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,4024.0
1196,1196,q1ikrk7wmhxt4ek3q1ikrk1thjzwti0j,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Analista de Negócios/Business Analyst,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Menos de 1 ano,10737.0
1436,1436,nt4xzppso9q6qik6int4thok6dmrwnvy,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Área da Saúde,de 101 a 500,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,3280.0
1466,1466,njdryzdqkoyb94xuxnjdryzd8wo20dav,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,4155.0
1599,1599,mfx5lvwj5uwmfx58bxuq3uo52qhoiddk,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Varejo,Acima de 3.000,0.0,NaN,Analista de Negócios/Business Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,Não tenho experiência na área de dados,Não tive experiência na área de TI/Engenharia ...,4396.0
1610,1610,mbvaac38d85tymlznafbxufw2xj19vyy,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",NaN,True,...,Varejo,Acima de 3.000,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,de 1 a 2 anos,4988.0
1748,1748,lf5ojf8dgcqmdw8kuefllf5ojf8zv2ii,30.0,30-34,Feminino,Prefiro não informar,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,3376.0
1836,1836,kmje7zwyfln2428rwbgqi1kmje79xn9p,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Atenção dada pelas pessoas diante das minhas o...,False,...,Tecnologia/Fábrica de Software,de 11 a 50,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 16.001/mês a R$ 20.000/mês,de 4 a 6 anos,Menos de 1 ano,18965.0
1944,1944,jtqal9ef7mo5fncjujtqal01d32wt63u,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...","Aprovação em processos seletivos/entrevistas, ...",True,...,Marketing,de 101 a 500,0.0,NaN,Analytics Engineer,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 4 a 6 anos,de 3 a 4 anos,12648.0
2086,2086,il6hd1h3yns7jyh7xk9tvil6hd6p8ixc,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...","Relação com outros membros da empresa, em mome...",True,...,Setor Público,de 1.001 a 3.000,0.0,NaN,Estatístico,Júnior,de R$ 4.001/mês a R$ 6.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,4116.0
2103,2103,ihs3d1cv44e7dwvoihs3010qx456v34f,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Velocidade de progressão de carreira,True,...,Área da Saúde,de 101 a 500,0.0,NaN,Economista,Sênior,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,7994.0
2126,2126,ibcgajpa4gc880ibcgah5176g466u65w,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Oportunidades de progressão de carreira,True,...,Finanças ou Bancos,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,10673.0
2228,2228,hmbrdhsmup7z4fqi7hmbr65xtije1drg,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2236,2236,hl6o0pa6thl9jas639zocl5jc92fzy2q,30.0,30-34,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Educação,de 11 a 50,0.0,NaN,Outra Opção,Pleno,de R$ 8.001/mês a R$ 12.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,10319.0
2252,2252,hgxmrgll1re52sqky55bgehgxmraq743,30.0,30-34,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Setor Público,de 1.001 a 3.000,0.0,NaN,Outra Opção,Júnior,de R$ 6.001/mês a R$ 8.000/mês,Não tenho experiência na área de dados,Não tive experiência na área de TI/Engenharia ...,6831.0
2253,2253,hgrsemzk80f1hpdoz9ca9hhgrse4kv6m,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...","Velocidade de progressão de carreira, Atenção ...",True,...,Área da Saúde,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,4466.0
2297,2297,h3muzmdxns3184odrtlgih3muzmdylmi,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Marketing,de 11 a 50,0.0,NaN,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,5226.0
2348,2348,gp8uhl7nbtvq646gkgp8fjy5yaz6w1s8,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Área de Consultoria,de 101 a 500,0.0,NaN,Outra Opção,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Menos de 1 ano,10503.0
2467,2467,fsuww5usu1gj1vfsu2h23wkeh24fdppe,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Varejo,de 101 a 500,0.0,NaN,Analista de Negócios/Business Analyst,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Menos de 1 ano,3614.0
2487,2487,fn3c59o3q98l73ov6yhfn3c59u5fc2ru,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Tecnologia/Fábrica de Software,Acima de 3.000,0.0,NaN,Analista de Dados/Data Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 3 a 4 anos,10061.0
2523,2523,fcjfcaqd36jtzd11fcj4n35aazy1eohi,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2543,2543,f6yun30yvr69eq2uas5f6yun30ypk3tx,30.0,30-34,Feminino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2578,2578,ex9e83mf744djqexnvfxxjjz69s556jp,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...","Oportunidades de progressão de carreira, Veloc...",True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,de 1 a 2 anos,4855.0
2602,2602,eo3jan2l2f92nx9c8p5d4x68eo3janp4,30.0,30-34,Feminino,Preta,Não,"Sim, acredito que a minha a experiência profis...","Relação com outros membros da empresa, em mome...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2620,2620,eieo42cfzu0dpxx2eeb3qeieo42cfwrw,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Varejo,de 101 a 500,0.0,NaN,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 4 a 6 anos,de 1 a 2 anos,4271.0
2623,2623,ehpwf2fmq894jbxkqyksfehpwfr00jjx,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Filantropia/ONG's,de 51 a 100,0.0,NaN,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 4 a 6 anos,de 3 a 4 anos,6199.0
2791,2791,cz0rbax47d6dz20ocz0rbswyqpt7h4jq,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Engenheiro de Machine Learning/ML Engineer,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 4 a 6 anos,de 3 a 4 anos,13326.0
2825,2825,cn5k43yjj246s810uxcn5k48ftwx2pau,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Área da Saúde,Acima de 3.000,0.0,NaN,Outras Engenharias (não inclui dev),Pleno,de R$ 6.001/mês a R$ 8.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,7866.0
2904,2904,bumkmqvodi7m73yao3mzbum5qfe78t5f,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Tecnologia/Fábrica de Software,de 101 a 500,0.0,NaN,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,de 1 a 2 anos,3121.0
3111,3111,9ze7ojspolr98r9ze7ojmxa7fmaj7p5g,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...","Velocidade de progressão de carreira, Oportuni...",True,...,Área da Saúde,de 51 a 100,0.0,NaN,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,5718.0
3140,3140,9lx3zd6afkps9lx3l7j6s7o6r4e7cos6,30.0,30-34,Feminino,Prefiro não informar,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,Filantropia/ONG's,de 11 a 50,0.0,NaN,Analista de Negócios/Business Analyst,Júnior,de R$ 2.001/mês a R$ 3.000/mês,de 1 a 2 anos,de 1 a 2 anos,2224.0
3156,3156,9eyiau4gkq6kjxir9eyaqd3hxjkctvwh,30.0,30-34,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Nível de cobrança no trabalho / Stress no trab...,True,...,Tecnologia/Fábrica de Software,de 1.001 a 3.000,1.0,Gerente/Head,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,17139.0
3182,3182,98jgumaz0uhd7txb498jpweqfpc1fims,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Atenção dada pelas pessoas diante das minhas o...,True,...,Indústria,de 11 a 50,0.0,NaN,Outra Opção,Júnior,de R$ 2.001/mês a R$ 3.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,2158.0
3516,3516,6fgmf5yi3px163bj76fgmf544g4i7jcs,30.0,30-34,Feminino,Preta,Não,"Sim, acredito que a minha a experiência profis...",Nível de cobrança no trabalho / Stress no trab...,True,...,Tecnologia/Fábrica de Software,de 501 a 1.000,0.0,NaN,Analista de Negócios/Business Analyst,Júnior,de R$ 1.001/mês a R$ 2.000/mês,Menos de 1 ano,Menos de 1 ano,1422.0
3521,3521,6cvtz19u175az6cvwzepo8aa3c15zdcq,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Atenção dada pelas pessoas diante das minhas o...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4133,4133,140pj5sybc5jeu214dq7imbwjqwb9a81,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4207,4207,0ibb8fj9qrwpswfqiil0ibb89e3e4hz3,30.0,30-34,Feminino,Amarela,Não,"Sim, acredito que a minha a experiência profis...","Oportunidades de progressão de carreira, Veloc...",True,...,Área de Consultoria,de 501 a 1.000,0.0,NaN,Cientista de Dados/Data Scientist,Sênior,de R$ 16.001/mês a R$ 20.000/mês,de 4 a 6 anos,de 5 a 6 anos,16298.0
4218,4218,0g25o2f9z02yh4m1kjl0g25u2lma0s7w,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Varejo,Acima de 3.000,1.0,Especialista II,NaN,NaN,de R$ 12.001/mês a R$ 16.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,12012.0
4229,4229,0dytei7f8we17gem6sv30dyt1wiutzao,30.0,30-34,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,Finanças ou Bancos,de 1.001 a 3.000,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 2.001/mês a R$ 3.000/mês,Menos de 1 ano,Menos de 1 ano,2545.0
4239,4239,0ainafcs1bvxmj0ainauhk3u91eybho6,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4267,4267,01dyfxam4u4bi29fem01dyfxaq9akvqp,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Área de Consultoria,de 51 a 100,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,3758.0

In [30]:
planilha.tail()

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
4266,4266,01jnrn9f6va0menfhk2ztm01jnrn96bp,26.0,25-29,Masculino,Branca,Não,NaN,NaN,True,...,Tecnologia/Fábrica de Software,Acima de 3.000,0.0,NaN,Analista de Dados/Data Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 3 a 4 anos,de 7 a 10 anos,4329.0
4267,4267,01dyfxam4u4bi29fem01dyfxaq9akvqp,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,...,Área de Consultoria,de 51 a 100,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,3758.0
4268,4268,00zw9ks9d40z4u00zz3d20iix65qpli3,29.0,25-29,Masculino,Branca,Não,NaN,NaN,True,...,Setor Imobiliário/ Construção Civil,de 101 a 500,1.0,Gerente/Head,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,19607.0
4269,4269,00xu7yujd7s57emj00xu7y0c3njix3de,NaN,17-21,Masculino,Branca,Não,NaN,NaN,True,...,Indústria,de 1.001 a 3.000,0.0,NaN,Outra Opção,Júnior,Menos de R$ 1.000/mês,Menos de 1 ano,Não tive experiência na área de TI/Engenharia ...,989.0
4270,4270,00lb35llmdsidpa00lb35qcdysnzvhv7,24.0,22-24,Masculino,Branca,Não,NaN,NaN,True,...,Agronegócios,de 501 a 1.000,0.0,NaN,Analista de Dados/Data Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,3079.0

In [31]:
planilha[planilha["GENERO"] == "Feminino"]["IDADE"].median()

np.float64(30.0)

In [32]:
media_idade_m = planilha[planilha["GENERO"] == "Masculino"]["IDADE"].mean()
print(round(media_idade_m, 2))

31.15

In [33]:
planilha.columns

Index(['Unnamed: 0', 'ID', 'IDADE', 'FAIXA IDADE', 'GENERO', 'COR/RACA/ETNIA',
       'PCD', 'EXPERIENCIA_PROFISSIONAL_PREJUDICADA', 'ASPECTOS_PREJUDICADOS',
       'VIVE_NO_BRASIL', 'ESTADO ONDE MORA', 'UF ONDE MORA',
       'REGIAO ONDE MORA', 'MUDOU DE ESTADO?', 'REGIAO DE ORIGEM',
       'NIVEL DE ENSINO', 'ÁREA DE FORMAÇÃO',
       'QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?', 'SETOR',
       'NUMERO DE FUNCIONARIOS', 'GESTOR?', 'CARGO COMO GESTOR', 'CARGO ATUAL',
       'NIVEL', 'FAIXA SALARIAL',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?',
       'SALARIO'],
      dtype='object')

In [34]:
planilha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 28 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Unnamed: 0                                                                                                                 4271 non-null   int64
 1   ID                                                                                                                         4271 non-null   object
 2   IDADE                                                                                                                      4197 non-null   float64
 3   FAIXA IDADE                                                                                                                4271 non-null   object
 4   GENERO                                                                                                                     4262 non-null   object
 5   COR/RACA/ETNIA                                                                                                             4271 non-null   object
 6   PCD                                                                                                                        4271 non-null   object
 7   EXPERIENCIA_PROFISSIONAL_PREJUDICADA                                                                                       2190 non-null   object
 8   ASPECTOS_PREJUDICADOS                                                                                                      837 non-null    object
 9   VIVE_NO_BRASIL                                                                                                             4271 non-null   bool
 10  ESTADO ONDE MORA                                                                                                           4156 non-null   object
 11  UF ONDE MORA                                                                                                               4156 non-null   object
 12  REGIAO ONDE MORA                                                                                                           4171 non-null   object
 13  MUDOU DE ESTADO?                                                                                                           4171 non-null   float64
 14  REGIAO DE ORIGEM                                                                                                           772 non-null    object
 15  NIVEL DE ENSINO                                                                                                            4271 non-null   object
 16  ÁREA DE FORMAÇÃO                                                                                                           4149 non-null   object
 17  QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?                                                                                       4271 non-null   object
 18  SETOR                                                                                                                      3694 non-null   object
 19  NUMERO DE FUNCIONARIOS                                                                                                     3694 non-null   object
 20  GESTOR?                                                                                                                    3694 non-null   float64
 21  CARGO COMO GESTOR                                                                                                          713 non-null    object
 22  CARGO ATUAL                                                                                                                2981 non-null   object
 23  NIVEL                                                                                                                      2981 non-null   object
 24  FAIXA SALARIAL                                                                                                             3694 non-null   object
 25  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?                                                                     3694 non-null   object
 26  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?  3694 non-null   object
 27  SALARIO                                                                                                                    3694 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(22)
memory usage: 905.2+ KB

In [35]:
planilha.groupby("GENERO", dropna=False)["ID"].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      12
NaN                        9
Name: ID, dtype: int64

In [36]:
planilha["GENERO"] = planilha["GENERO"].fillna("Prefiro não informar")

In [37]:
planilha.groupby("GENERO", dropna=False)["ID"].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      21
Name: ID, dtype: int64

In [38]:
planilha.groupby("IDADE", dropna=False)["ID"].nunique()

IDADE
18.0     13
19.0     22
20.0     33
21.0     78
22.0    108
23.0    145
24.0    196
25.0    274
26.0    281
27.0    299
28.0    291
29.0    253
30.0    248
31.0    253
32.0    225
33.0    180
34.0    189
35.0    145
36.0    154
37.0    118
38.0     78
39.0    103
40.0     67
41.0     63
42.0     54
43.0     51
44.0     42
45.0     41
46.0     31
47.0     32
48.0     21
49.0     19
50.0     34
51.0     10
52.0     20
53.0     12
54.0     13
NaN      74
Name: ID, dtype: int64

In [39]:
planilha["IDADE"].isnull().value_counts()

IDADE
False    4197
True       74
Name: count, dtype: int64

In [40]:
planilha[planilha["IDADE"].isnull()]["FAIXA IDADE"].value_counts()

FAIXA IDADE
55+      68
17-21     6
Name: count, dtype: int64

In [41]:
media_17_21 = planilha[planilha["FAIXA IDADE"] == "17-21"]["IDADE"].mean()

In [42]:
planilha.loc[(planilha["FAIXA IDADE"] == "17-21") & (planilha["IDADE"].isnull()), "IDADE"] = media_17_21

In [43]:
planilha[planilha["IDADE"].isnull()]["FAIXA IDADE"].value_counts()

FAIXA IDADE
55+    68
Name: count, dtype: int64

In [44]:
media_55 = planilha[planilha["FAIXA IDADE"] == "55+"]["IDADE"].mean()
media_55

nan

In [45]:
media_geral = planilha["IDADE"].mean()
media_geral

np.float64(31.153517220250375)

In [46]:
planilha.loc[(planilha["FAIXA IDADE"] == "55+") & (planilha["IDADE"].isnull()), "IDADE"] = media_geral

In [47]:
planilha["IDADE"].value_counts()

IDADE
27.000000    299
28.000000    291
26.000000    281
25.000000    274
29.000000    253
31.000000    253
30.000000    248
32.000000    225
24.000000    196
34.000000    189
33.000000    180
36.000000    154
35.000000    145
23.000000    145
37.000000    118
22.000000    108
39.000000    103
21.000000     78
38.000000     78
31.153517     68
40.000000     67
41.000000     63
42.000000     54
43.000000     51
44.000000     42
45.000000     41
50.000000     34
20.000000     33
47.000000     32
46.000000     31
19.000000     22
48.000000     21
49.000000     20
52.000000     20
18.000000     13
54.000000     13
53.000000     12
51.000000     10
20.205479      6
Name: count, dtype: int64

In [48]:
planilha["SALARIO"].isnull().value_counts()

SALARIO
False    3694
True      577
Name: count, dtype: int64

In [49]:
planilha[planilha["SALARIO"].isnull()]["FAIXA SALARIAL"].value_counts()

Series([], Name: count, dtype: int64)

In [50]:
salario_mediana = planilha["SALARIO"].median()

In [51]:
planilha.loc[planilha["SALARIO"].isnull(), "SALARIO"] = salario_mediana

In [52]:
planilha["SALARIO"].isnull().value_counts()

SALARIO
False    4271
Name: count, dtype: int64